/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');


/* Vinculo a los demás archivos */
@import url('css/header.css');
@import url('css/main.css');
@import url('css/footer.css');


/* Mis colores*/
:root {
    --color-bg: #f4fdf4;
    --color-primary: #a8d5ba;
    --color-secondary: #6da67a;
    --color-text: #2e2e2e;
    --color-border: #cccccc;
    --color-accent: #e2f0cb;
}


/* Estilos generales */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}